<div>
    <h2>{{producto.title}}</h2>
        <ul>
            <li>Precio: {{producto.price}}</li>
            <li>Description: {{producto.description}}</li>
            <li>Stock: {{producto.stock}}</li>
            <li><a href="/api/cart/"+{{id}}+"product"+{{this.id}}><button>add to the card</button></a></li>
        </ul>
</div>